:root {
  --color-light-blue-0: var(--color-common-0);
  --color-orange-_0: var(--color-common-0);
  --color-orange-10: rgba(54, 30, 0, 1);
  --color-orange-20: rgba(102, 58, 0, 1);
  --color-orange-30: rgba(156, 88, 0, 1);
  --color-orange-40: rgba(212, 120, 0, 1);
  --color-orange-50: rgba(255, 146, 0, 1);
  --color-orange-60: rgba(255, 169, 56, 1);
  --color-orange-70: rgba(255, 192, 110, 1);
  --color-orange-80: rgba(255, 212, 156, 1);
  --color-orange-90: rgba(254, 230, 198, 1);
  --color-orange-95: rgba(254, 244, 230, 1);
  --color-orange-99: rgba(255, 252, 247, 1);
  --color-orange-_100: var(--color-common-100);
  --color-light-blue-10: rgba(0, 33, 48, 1);
  --color-light-blue-20: rgba(0, 66, 97, 1);
  --color-light-blue-30: rgba(0, 103, 150, 1);
  --color-light-blue-40: rgba(0, 141, 207, 1);
  --color-light-blue-50: rgba(0, 174, 255, 1);
  --color-light-blue-60: rgba(61, 194, 255, 1);
  --color-light-blue-70: rgba(112, 210, 255, 1);
  --color-light-blue-80: rgba(161, 225, 255, 1);
  --color-light-blue-90: rgba(196, 236, 254, 1);
  --color-light-blue-95: rgba(229, 246, 254, 1);
  --color-light-blue-99: rgba(247, 253, 255, 1);
  --color-light-blue-100: var(--common-100);
  --color-common-0: rgba(0, 0, 0, 1);
  --color-neutral-5: rgba(15, 15, 16, 1);
  --color-neutral-7: rgba(20, 20, 21, 1);
  --color-neutral-10: rgba(23, 23, 25, 1);
  --color-neutral-15: rgba(27, 28, 30, 1);
  --color-neutral-17: rgba(33, 34, 37, 1);
  --color-neutral-20: rgba(41, 42, 45, 1);
  --color-neutral-22: rgba(46, 47, 51, 1);
  --color-neutral-23: rgba(51, 52, 56, 1);
  --color-neutral-25: rgba(55, 56, 60, 1);
  --color-neutral-30: rgba(70, 71, 76, 1);
  --color-neutral-40: rgba(90, 92, 99, 1);
  --color-neutral-50: rgba(112, 115, 124, 1);
  --color-neutral-60: rgba(135, 138, 147, 1);
  --color-neutral-70: rgba(152, 155, 162, 1);
  --color-neutral-80: rgba(174, 176, 182, 1);
  --color-neutral-90: rgba(194, 196, 200, 1);
  --color-neutral-95: rgba(219, 220, 223, 1);
  --color-neutral-96: rgba(225, 226, 228, 1);
  --color-neutral-97: rgba(234, 235, 236, 1);
  --color-neutral-98: rgba(244, 244, 245, 1);
  --color-neutral-99: rgba(247, 247, 248, 1);
  --color-green-_0: var(--color-common-0);
  --color-green-10: rgba(0, 36, 12, 1);
  --color-green-20: rgba(0, 69, 23, 1);
  --color-green-30: rgba(0, 110, 37, 1);
  --color-green-40: rgba(0, 150, 50, 1);
  --color-green-50: rgba(0, 191, 64, 1);
  --color-green-60: rgba(30, 212, 90, 1);
  --color-green-70: rgba(73, 229, 125, 1);
  --color-green-80: rgba(125, 245, 165, 1);
  --color-green-90: rgba(172, 252, 199, 1);
  --color-green-95: rgba(217, 255, 230, 1);
  --color-green-99: rgba(242, 255, 246, 1);
  --color-green-_100: var(--color-common-100);
  --color-red-10: rgba(59, 1, 1, 1);
  --color-red-20: rgba(115, 3, 3, 1);
  --color-red-30: rgba(176, 12, 12, 1);
  --color-red-40: rgba(229, 34, 34, 1);
  --color-red-50: rgba(255, 66, 66, 1);
  --color-red-60: rgba(255, 99, 99, 1);
  --color-red-70: rgba(255, 140, 140, 1);
  --color-red-80: rgba(255, 181, 181, 1);
  --color-red-90: rgba(254, 213, 213, 1);
  --color-red-95: rgba(254, 236, 236, 1);
  --color-red-99: rgba(255, 250, 250, 1);
  --color-common-100: rgba(255, 255, 255, 1);
}

/* Tokens - Value */
:root {
  --status-positive: var(--color-green-50);
  --status-negative: var(--color-red-50);
  --status-cautionary: var(--color-orange-50);
  --background-primary: var(--color-common-100);
  --background-secondary: var(--color-neutral-99);
  --background-brand: var(--color-light-blue-40);
  --surface-primary: rgba(112, 115, 124, 0.07999999821186066);
  --surface-secondary: rgba(112, 115, 124, 0.1599999964237213);
  --text-primary: var(--color-neutral-10);
  --text-secondary: var(--color-neutral-25);
  --text-tertiary: var(--color-neutral-60);
  --text-quaternary: var(--color-neutral-90);
  --text-brand: var(--color-light-blue-40);
  --text-brand-invert: var(--color-common-100);
  --button-brand: var(--color-light-blue-40);
  --button-brand-hover: var(--color-light-blue-30);
  --button-primary: var(--color-common-100);
  --button-primary-hover: var(--color-neutral-98);
  --button-disable: var(--color-neutral-98);
  --line-primary: rgba(112, 115, 124, 0.2199999988079071);
  --line-secondary: rgba(112, 115, 124, 0.1599999964237213);
  --line-brand: var(--color-light-blue-40);
  --icon-primary: var(--color-neutral-10);
  --icon-secondary: var(--color-neutral-25);
  --icon-tertiary: var(--color-neutral-60);
  --icon-quaternary: var(--color-neutral-90);
  --icon-brand: var(--color-light-blue-40);
}
